

<div class="container">
	<div class="jumbotron">

			<div class="row">
				<div class="col-md-offset-1 col-md-10 col-md-offset-1">

				<h1>Hello, welcome Traders</h1>
				
<!-- 				<p>Application bientôt disponible</p> -->		
				<!-- <p>Vos recettes végétariennes en sélectionnant les aliments qui se trouvent déjà dans votre frigidaire</p> -->
			</div>
		</div>
	</div>

	<div class="col-md-offset-1 col-md-7 col-md-offset-2">
	<!-- TradingView Widget BEGIN -->
					<div id="tv-medium-widget-12225"></div>
					<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
					<script type="text/javascript">
					new TradingView.MediumWidget({
					  "container_id": "tv-medium-widget-12225",
					  "symbols": [
					    [
					      "Apple",
					      "AAPL "
					    ],
					    [
					      "Google",
					      "GOOGL"
					    ],
					    [
					      "Yahoo!",
					      "YHOO"
					    ],
					    [
					      "Bitcoin ",
					      "INDEX:BIT|1y"
					    ],
					    [
					      "CAC40",
					      "INDEX:CAC|1y"
					    ],
					    [
					      "NASDAQ",
					      "NASDAQ:NDAQ|1y"
					    ]
					  ],
					  "gridLineColor": "#E9E9EA",
					  "fontColor": "#83888D",
					  "underLineColor": "#dbeffb",
					  "trendLineColor": "#4bafe9",
					  "width": "1000px",
					  "height": "250px",
					  "tradeItWidget": false,
					  "locale": "en"
					});
					</script>
	</div>
	<img class="logocostud animated pulse" src="/images/Logo_Costud_v4.png" alt="some">
	<!-- http://daneden.github.io/animate.css/ a voir pour les animations -->
</div>


